# Сборочные артефакты Gradle/Maven
.gradle/
build/
target/

# IDE
.idea/
*.iml
*.iws
*.ipr
out/

# ОС и логи
.DS_Store
Thumbs.db
*.log
logs/

# Базы данных
*.db
*.sqlite
*.h2.db

# Allure
allure-results/
allure-report/

# Игнорируем ВСЁ в artifacts/, КРОМЕ app-deadline.jar
artifacts/*
!artifacts/app-deadline.jar